.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.projects-title{
    position: relative;
}

.projects-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.projects img{
    width: 300px;
    height: auto;

}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.project-format{
    display:flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

@media(max-width: 430px)
{

    .project-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    }

}