@import "tailwindcss";

* {

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 80px; 
}

body {
  padding-top: 120px;
  height: 100vh;
  background: #25274D;
  color: white;
  font-family: 'outfit';

}

