@import "tailwindcss";

* {

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 80px; 
}

body {

  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';

}

